.tweet-body{
  width: 82%
  margin-left: 60px
}
.tweet-body textarea{
  overflow: hidden;
  resize: none;
  margin-top: 40px;
  height: 80px;
  width: 50px;
  border: 1px solid red;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
}
